@font-face {
  font-family: 'Commit Mono';
  src: url('/fonts/CommitMonoV143/CommitMono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Commit Mono', monospace;
}
